/*自定义*/
.loading {
    position: fixed;
    top: 30%;
    z-index: 9999;
    left: 40%;
}

/*-- Index-Page-Styling --*/

body {
    background: url("../images/bg.jpg");
}

.left-side {
    min-height: 360px;
    border: 2px solid #0f86bb;
}

.right-side {
    background: url(../images/bg_cr.jpg) 0 0 no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 360px;
    border: 2px solid #0f86bb;

}

footer {
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 50px 0 0 0;
    color: #fff;
}

footer a {
    color: #cddc39;
}

/*sign in form*/
.signin input[type="button"] {
    font-size: 30px;
    text-align: center;
    padding: 13px 8px;
    width: 55%;
    display: inline-block;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border: 0 solid transparent;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: #258db8;
}

button:hover {
    background: #219e3e;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}