<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flytop.studentsign.mapper.LeaveMapper">

    <!--=========================resultMap===========================-->
    <resultMap id="leaveResultMap" type="leave">
        <result property="applicationTime" column="application_time"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="auditStatus" column="audit_status"></result>
        <result property="refusalReason" column="refusal_reason"></result>
    </resultMap>
    <!--===========================查询=============================-->
    <!--查询所有用户今天、昨天、近7天、近30天及所有时间的请假记录-->
    <select id="getLeaveByStatus" resultMap="leaveResultMap">
        select a.*,b.sname
        from sleave a,
        student b
        where a.sno = b.sno
        <if test="_parameter != null">
            and audit_status = #{auditStatus}
        </if>

    </select>

    <!--按照审批状态筛选请假记录-->
    <select id="getLeave" resultMap="leaveResultMap">
        select a.*,b.sname from sleave a,student b
        where a.sno = b.sno
        <if test="_parameter != null and _parameter != ''">
            and to_days(now()) - to_days(application_time) &lt;= #{dayNum};
        </if>
    </select>

    <!--根据id获取请假详情-->
    <select id="getLeaveDetailById" resultMap="leaveResultMap">
        select a.*,b.sname
        from sleave a,
             student b
        where a.sno = b.sno
          and a.id = #{id}
    </select>

    <!--===========================修改=============================-->
    <update id="updateAuditStatus" parameterType="leave">
        update sleave
        set audit_status   = #{auditStatus},
            refusal_reason = #{refusalReason}
        where id = #{id}
    </update>

    <!--===========================插入=============================-->
    <!--记录学生请假-->
    <insert id="addLeave" parameterType="leave">
        insert sleave (sno, application_time, start_time, end_time, comment, attachment)
        values (#{sNo}, #{applicationTime}, #{category}, #{startTime},
                #{endTime}, #{comment}, #{attachment})
    </insert>

    <!--===========================删除=============================-->
    <!--根据记录id删除请假记录-->
    <delete id="removeLeaveById">
        delete
        from sleave
        where id = #{id}
    </delete>
</mapper>