<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flytop.studentsign.mapper.LeaveMapper">

    <!--=========================resultMap===========================-->
    <!--===========================查询=============================-->
    <!--查询所有用户今天、昨天、近7天、近30天及所有时间的签到记录-->
    <select id="signRecord" resultType="signIn">
        select a.*,b.sname from sign_in a,student b
        where a.sno = b.sno
        <if test="_parameter != null and _parameter != ''">
            and to_days(now()) - to_days(signtime) &lt;= #{dayNum};
        </if>
    </select>

    <!--查询所有用户指定时间段内的签到记录-->
    <select id="signRecordTime" resultType="signIn">
        select a.*,b.sname from sign_in a,student b
        where a.sno = b.sno
        <if test="_parameter != null">
            # 解决日期between...and...不包含右边界的问题
            and signtime between #{startTime} and DATE_ADD(#{endTime},INTERVAL 1 DAY);
        </if>
    </select>

    <!--查询个人用户当天的签到记录-->
    <select id="personalSignRecord" resultType="signIn">
        select *
        from sign_in
        where date(signtime) = curdate()
          and sno = #{sNo};
    </select>

    <!--查询个人用户指定时间段内及所有时间的签到记录-->
    <select id="personalSignRecordTime" resultType="signIn">
        select * from sign_in
        <if test="_parameter != null">
            where signtime between #{startTime} and #{endTime} and sno = #{sNo};
        </if>
    </select>

    <!--根据学号或姓名查询签到记录-->
    <!--bind标签（动态SQL）可以使用OGNL表达式创建一个变量并将其绑定到上下文中-->
    <select id="findSignRecordByKeyword" resultType="signIn">
        select * from(
        select a.*,b.sname from sign_in a,student b where a.sno = b.sno
        ) c
        <if test="_parameter != null">
            <bind name="pattern" value="'%'+keyword+'%'"></bind>
            where sname like #{pattern} or sno like #{pattern};
        </if>
    </select>

    <!--===========================修改=============================-->


    <!--===========================插入=============================-->
    <!--记录学生签到-->
    <insert id="studentSign" parameterType="signIn">
        insert sign_in (sno, signstatus, signtime)
        values (#{sNo}, #{signStatus}, #{signTime})
    </insert>

    <!--===========================删除=============================-->

</mapper>