<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flytop.studentsign.mapper.SettingMapper">

    <!--=========================resultMap===========================-->
    <resultMap id="openTimeResultMap" type="openTime">
        <result column="time_start" property="timeStart"></result>
        <result column="time_end" property="timeEnd"></result>
        <result column="start_cron_expr" property="startCronExpr"></result>
        <result column="end_cron_expr" property="endCronExpr"></result>
    </resultMap>

    <!--===========================查询=============================-->
    <!--获取开放时间-->
    <select id="getOpenTime" resultMap="openTimeResultMap">
        select *
        from opentime
        where id = 'UNIQUE'
    </select>

    <!--===========================新增=============================-->
    <!--保存开放时间-->
    <insert id="saveOpenTime">
        # 1. 如果发现表中已经有此行数据（根据主键或者唯一索引判断）则先删除此行数据，然后插入新的数据。
        # 2. 否则，直接插入新数据。
        REPLACE INTO opentime
            (weekday, time_start, time_end, start_cron_expr, end_cron_expr)
        VALUES (#{weekday}, #{timeStart}, #{timeEnd}, #{startCronExpr}, #{endCronExpr})
    </insert>

    <!--=========================== 更新 =============================-->

</mapper>