<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flytop.studentsign.mapper.UserMapper">

    <!--=========================resultMap===========================-->

    <!--===========================查询=============================-->
    <!--用户登录-->
    <select id="userLogin" resultType="user">
        select *
        FROM user
        WHERE username = #{username}
          and pwd = #{pwd}
    </select>

    <!--根据用户名获取用户，用于在删除学生时，
    判断用户表中是否存在该学生的账号密码-->
    <select id="getUser" resultType="user">
        select *
        from user
        where username = #{username}
    </select>

    <!--===========================修改=============================-->
    <!--修改密码-->
    <update id="changePwdByUsername">
        <if test="username != null and username != ''">
            update user set pwd = #{pwd} where username = #{username}
        </if>
    </update>

    <!--批量重置用户的密码-->
    <!--update user
            set pwd =
                case username
                    when #{username} then #{pwd}
                    when #{username2} then #{pwd}
                End,
            salt =
                case username
                    when #{username} then #{salt}
                    when #{username2} then #{salt}
                End
    -->
    <update id="resetUserPwd">
        update user
        set
        <foreach open="pwd=case username" close="END," collection="list" item="user">
            when #{user.username} then #{user.pwd}
        </foreach>
        <foreach collection="list" item="user" open="salt= case username">
            when #{user.username} then #{user.salt}
        </foreach>
        END
        where username in
        <foreach collection="list" separator="," item="user" open="(" close=")">
            #{user.username}
        </foreach>
    </update>

    <!--===========================插入=============================-->
    <!--添加用户-->
    <insert id="addUser" parameterType="user">
        <if test="username!=null and username!=''">
            insert user
            values (#{username}, #{pwd}, #{salt}, #{type})
        </if>
    </insert>

    <!-- on duplicate key update当数据库中存在某个记录时，
    执行这条语句会更新(先删除再插入)它，而不存在这条记录时，会插入它-->
    <insert id="batchInitUser">
        insert into user(username, pwd, salt)
        values
        <foreach collection="array" item="item" separator=",">
            (#{item}, #{pwd}, #{salt})
        </foreach>
        on duplicate key update pwd = #{pwd}
    </insert>
    <!--===========================删除=============================-->
    <!--删除用户-->
    <delete id="deleteUser">
        delete
        from user
        where username in
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and type = #{type}
    </delete>
</mapper>