<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flytop.studentsign.mapper.UserMapper">

    <!--=========================resultMap===========================-->

    <!--===========================查询=============================-->
    <!--用户登录-->
    <select id="userLogin" resultType="user">
        select *
        FROM user
        WHERE username = #{username}
          and pwd = #{pwd}
    </select>

    <!--根据用户名获取用户，用于在删除学生时，
    判断用户表中是否存在该学生的账号密码-->
    <select id="getUser" resultType="user">
        select *
        from user
        where username = #{username}
    </select>

    <!--===========================修改=============================-->

    <!--修改密码-->
    <update id="changePwdByUsername">
        <if test="username != null and username != ''">
            update user set pwd = #{pwd} where username = #{username}
        </if>
    </update>

    <!--===========================插入=============================-->
    <!--添加用户-->
    <insert id="addUser" parameterType="user">
        insert user
        values (#{username}, #{pwd}, #{salt}, #{type})
    </insert>
    <!--批量初始化学生用户的账号，密码-->
    <!-- on duplicate key update当数据库中存在某个记录时，
    执行这条语句会更新(先删除再插入)它，而不存在这条记录时，会插入它-->
    <insert id="batchInitUser">
        insert into user(username, pwd, salt)
        values
        <foreach collection="array" item="item" separator=",">
            (#{item}, #{pwd}, #{salt})
        </foreach>
        on duplicate key update pwd = #{pwd}
    </insert>

    <!--初始化所有未初始化学生用户的账号，密码-->
    <insert id="initAllUsers">
        insert into user(username, pwd, salt)
        select sno as username, #{pwd}, #{salt}
        from student a
        where not exists(
                select username from user b where a.sno = b.username)
    </insert>

    <!--===========================删除=============================-->

    <!--删除用户-->
    <delete id="deleteUser">
        delete
        from user
        where username in
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and type = #{type}
    </delete>
</mapper>